colorlog
tqdm
lxml==5.4.0
opencv-python==4.11.0.86
matplotlib==3.9.4
pyyaml
onnx==1.18.0
imageio==2.37.0
thop
imageio-ffmpeg==0.6.0
numpy==2.0.1
pycryptodome==3.22.0
PySide6-Fluent-Widgets==1.8.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1


